<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title
        >Switch Colour, Flip Board, Pins, Blocks and Refactors</mat-card-title
      >
      <mat-card-subtitle>17th-19th January 2023</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/chessboard4.jpg" alt="Init Chessboard" />
    <mat-card-content>
      <li>
        Added the ability to switch the board to play as either Black or White
      </li>
      <li>
        Started work on developing a legal move generator from the psudomove
        generator that accounts for the legal moves involved when the king is
        under check or pieces being pinned by sliding pieces and the ability to
        block checks by pushing pieces into the path of attacking pieces.
      </li>
      <li>
        Refactored the pseudolegal move generator to reduce duplicate coded.
      </li>
    </mat-card-content> </mat-card
  ><mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Websocket Upheaval</mat-card-title>
      <mat-card-subtitle>14th-16th January 2023</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://avatars.githubusercontent.com/u/25720357?s=200&v=4"
      alt="Init Chessboard"
    />
    <mat-card-content>
      <li>
        At this point the game was running noticeably slowly waiting for the API
        requests to send and authenticate requests. It was time to switch to a
        different method of server communication.
      </li>
      <li>
        Multiplayer games and chatboxes use Websockets to communicate, here a
        connection is made between the server and client that messages can be
        sent both ways, the connection is only closed once the game has
        concluded so this means we can get a quick back and forth between the
        server and client for much smoother gameplay and also the ability for
        the server to tell the second player when a move has been made instead
        of making constant requests until a change has happened to the game
        state.
      </li>
      <li>
        Spring has the capability to create these websocket connections and
        JavaScript librarys Stomp and sockJS can handle the client side.
      </li>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Legal Moves</mat-card-title>
      <mat-card-subtitle>11th-13th January 2023</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/chessboard5.jpg" alt="Init Chessboard" />
    <mat-card-content>
      <li>
        Worked on a move generator that creates all legal moves for each piece.
      </li>
      <li>
        Added special move for castling, and defenders for each square so that
        the king cannot move to a square under attack.
      </li>
      <li>
        Used perft testing to validate the accuracy of the move generator,
        making adjustments as needed.
      </li>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Pseudo-Legal Moves</mat-card-title>
      <mat-card-subtitle>9th-10th January 2023</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/chessboard3.jpg" alt="Init Chessboard" />
    <mat-card-content>
      <li>Began work on the backend game mechanics engine.</li>
      <li>
        Wrote code to handle the movement of pieces and implement the rules of
        chess.
      </li>
      <li>
        At this stage, all moves are pseudo-legal, meaning they are technically
        valid moves, but they may not necessarily be legal within the context of
        the current game state (e.g. a move that puts one's own king in check).
      </li>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Moving Pieces</mat-card-title>
      <mat-card-subtitle>8th January 2023</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/chessboard2.jpg" alt="Init Chessboard" />
    <mat-card-content>
      <li>Added the ability to move the pieces on the board.</li>
      <li>
        Snap to grid was implemented and the moves onto a square were sent
        through a API request to the Spring server.
      </li>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Project Start</mat-card-title>
      <mat-card-subtitle>7th January 2023</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/chessboard1.jpg" alt="Init Chessboard" />
    <mat-card-content>
      <li>
        Initialized the project creating an Angular frontend and Java backend
        Spring server.
      </li>
      <li>
        Started by creating a basic 8x8 grid using Angular to represent the
        chess board.
      </li>
      <li>
        Implemented the ability to place pieces on the board, with the correct
        starting positions for each piece.
      </li>
    </mat-card-content>
  </mat-card>
</div>
