<div>
  <div class="row">
    <div class="col">
      <div class="sketch-container">
        <div id="sketch-holder"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="bg">
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Chess Finite State Machine</h3>
          <h4 class="card-subtitle"></h4>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Machine Learning Applications</h3>
          <h4 class="card-subtitle"></h4>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Other</h3>
          <h4 class="card-subtitle"></h4>
        </div>
      </div>
    </div>
  </div>
</div>
