/* You can add global styles to this file, and also import other style files */
.host {
  margin: 0px;
}
@font-face {
  font-family: vcr_osd_mono;
  src: url(assets/VCR_OSD_MONO.ttf) format("truetype");
}
